<div class="dashboard">
    <div class="dashboard-header">
        <span class="dashboard-title">Active</span>
        <div class="sign-out-container" (click)="signOut()">
            <button type="button" class="sign-out-button">Sign Out</button>
            <img src="\assets\mdi_logout.svg" alt="LogOut Icon" class="sign-out-icon" />
        </div>
    </div>
    <div class="dashboard-container">
        <div class="tasks-section">
            <div class="tasks-header">
                <div class="tasks-title">Today's Active Tasks</div>
                <div class="tasks-controls">
                    <div class="current-date">{{currentDate | date:'fullDate'}}</div>
                </div>
            </div>
            <div class="tasks-list">
                <div class="task-item"  >
                    <div *ngFor="let task of activeTasks; index as i" (click)="showDiv(i)">
                        <div class="task-status">
                            <img [src]="task.isDone ? '/assets/material-symbols_check-box.svg' : '/assets/material-symbols_check-box-outline.svg'"
                                alt="Check box" class="task-checkbox" />
                            <div class="task-title">{{ task.taskTitle }}</div>
                            <div class="task-action" *ngIf="showTaskBlock==i">
                                <div class="task-content">
                                    <div class="task-tagline">{{ task.taskTitle }}</div>
                                    <div class="task-added-date">Added {{getTimeDifference(task.taskDate)}}</div>
                                    <div class="task-description-header">Description</div>
                                    <div class="task-description">{{task.taskDescription}}</div>
                                </div>
                                <div class="task-action-icons">
                                    <img src="\assets\material-symbols_check-box-outline.svg" alt="Checkbox" (click)="onCheck(task.taskId)" [class.active-task]="!task.isDone"/>
                                    <div class="active-actions">
                                        <img src="assets\EditIcon.svg" alt="EditIcon" (click)="onEdit(task)"/>
                                        <img src="\assets\deleteActive.svg" alt="delete icon"  (click)="deleteTaskById(task.taskId)"/>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>                    
                </div>
                <div></div>
            </div>
        </div>
    </div>
    <app-add-task *ngIf="updateTask" [task]="taskToUpdate" [showModal]="updateTask" (showModalChange)="updateTask = $event"></app-add-task>
</div>
