.employee-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0rem 0.5rem;
}
.employee-main{
    font-size: 1rem;
    line-height: 2rem;
}
.employee-sub{
    color: #9EA8B6;
    font-size: 0.8rem;
}
.dashboard-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.employee-button{
    display: flex;
    background-color: transparent;
    border: 0.5px solid #9EA8B6;
    border-radius: 5px;
    padding: 0.25rem 1rem;
    align-items: center;
    cursor: pointer;
    gap: 0.15rem;
}
.employee-button button{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #9EA8B6;
    font-size: 0.7rem;
}
.add-employee-button{
    background-color: #F44848;
    border: none;
    outline: none;
}
.add-employee-button button{
    color: #ffffff;
}

/* Alphabet buttons */
.alphabet{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.7rem 0rem;
}
.alphabet button{
    padding: 0.7rem;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    color: #9EA8B6;
}
.alphabet button:hover{
    color: #ffffff;
    background-color: #F44848;
    cursor: pointer;
}
/* Filter Tab */
.filter-tab{
    background-color: #FDF2F2;
    border: 1px solid #F44848;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-tab-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.filter{
    display: flex;
    gap: 0.3rem;
    color: #F44848;
}
.filter-tab-right{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.filter-component{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #F44848;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.filter-input input{
    border: none;
    outline: none;
}
.option-container{
    position: absolute;
    z-index: 2;
    background-color: #f8f9fd;
    padding: 0.3rem;
    border-radius: 5px;
    width: 10rem;
    top: 1.5rem;
    right: 0.9rem;
    display: none;
}
.option{
    display: flex;
    cursor: pointer;
    gap: 0.5rem;
    border: 1px solid #9EA8B6;
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 0.3rem;
    font-size: 0.7rem;
}
.option:hover{
    background-color: #9EA8B6;
}
.filter-component-right{
    display: flex;
    gap: 1rem;
}
.reset-button{
    background-color: #ffffff;
    border-radius: 5px;
    width: 3rem;
    padding: 0.4rem;
    border: 1px solid #F44848;
    cursor: pointer;
}
.reset-button button{
    color:  #F44848;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}
.apply-button{
    background-color:#F44848;
    border-radius: 5px;
    width: 3rem;
    padding: 0.4rem;
    border: 1px solid #F44848;
    cursor: pointer;
}
.apply-button button{
    color:  #ffffff;
    background-color:#F44848;
    border: none;
    outline: none;
    cursor: pointer;
}
/* Delete button styling */
.employee-details{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}
.delete-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.delete-button{
    display: flex;
    gap: 0.3rem;
}
.delete-button button{
    border: none;
    color: #ffffff;
    background-color: #F89191;
    padding: 0.4rem;
    border-radius: 5px;
    width: 4rem;
    font-size: 0.7rem;
}
/* Table styling */
table,thead,tbody{
    width: 100%;
    border: 0;
    border-collapse: collapse;
}
thead{
    text-align: left;
}
thead .user{
    padding-left: 0.6rem;
}
#table-employee{
    width: 100%;
    border: 0;
    border-collapse: collapse;
}
.user-td{
    cursor: pointer;
}
.user{
    font-size: 0.7rem;
    color: #67748D;
    padding:0.7rem 0;
    cursor: pointer;
}
.user img{
    height: 0.5rem;
}
.active{
    color: #083628;
    background-color: #66edc5;
    padding: 0.5rem 0.2rem;
}
.dots-td{
    position: relative;
    display: inline-block;
    top: 1rem;
    padding: 1rem;
}
.dot-option{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffffff;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    transition: 0.3s;
    width: 7rem;
    right: 1rem;
    font-size: 0.7rem;
    padding: 0.5rem;
    border-radius: 5px;
}
.dot-option li a{
    text-decoration: none;
    color: black;
}
.dots-td:hover .dot-option{
    visibility: visible;
}
.dots-icon{
    height: 1rem;
}
.profile-pic img{
    height: 2rem;
}
.check-box{
    padding-left: 1rem;
    padding-right: 1rem;
}
.name{
    font-size: 0.8rem;
}
.emaill{
    font-size: 0.7rem;
    color: #5C6B85;
}
.details{
    padding-right: 1rem;
    padding: 0.7rem;
    font-size: 0.8rem;
}
.table-row:hover{
    background-color: #FFF4F4;
}
td.details{
    border-top: 0.002rem solid black;
    border-top-color:#EAEBEE ;
}
.details button{
    font-size: 0.7rem;
    border: none;
    outline: none;
    padding: 0.4rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 5px;
    background-color: #E7F4E8;
    color: #34896F;
}