@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Public Sans', sans-serif;
}

.role-employee-row{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem 0.5rem 1rem;
    align-items: center;
}
.role-data-direction{
    display: flex;
    gap: 0.2rem;
    padding: 0.5rem;
    color: #4C5F71;
}
.role-employee-text{
    font-size: 0.9rem;
    padding: 0.5rem;
    color: #8B97A2;
}
.add-button{
    background-color: #F44848;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.add-button button{
    border: none;
    outline: none;
    background-color: #F44848;
    color: #ffffff;
    font-size: 0.7rem;
}
.role-description{
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
}
.role-description div{
    font-size: 1.1rem;
    font-weight: 900;
}
.role-description p{
    color: #8B97A2;
    font-size: 0.9rem;
    line-height: 1.5rem;
}
.filter-data{
    background-color: #FDF2F2;
    border: 1px solid #F44848;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-component-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.filter{
    display: flex;
    gap: 1%;
    color: #F44848;
}
.location-button{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 5rem;
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #F44848;
}
.location-button button{
    border: none;    
    outline: none;
    background-color: #ffffff;
    font-size: 0.8rem;
    color: #748096;
}
.location-button img{
    height: 1rem;
}
.filter-component-right{
    display: flex;
    gap: 1rem;
}
.reset-button{
    background-color: #ffffff;
    border-radius: 5px;
    width: 3rem;
    padding: 0.4rem;
    border: 1px solid #F44848;
}
.reset-button button{
    color:  #F44848;
    background-color: #ffffff;
    border: none;
    outline: none;
}
.apply-button{
    background-color:#F44848;
    border-radius: 5px;
    width: 3rem;
    padding: 0.4rem;
    border: 1px solid #F44848;
}
.apply-button button{
    color:  #ffffff;
    background-color:#F44848;
    border: none;
    outline: none;
}
.department-button{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 6rem;
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #F44848;
}
.department-button button{
    border: none;    
    outline: none;
    background-color: #ffffff;
    font-size: 0.8rem;
    color: #748096;
}
.department-button img{
    height: 1rem;
}
.detail-of-employee{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 23rem;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.robert-person{
    border: 1px solid #8B97A2;
    padding:1rem;
    padding-top: 2rem;
    border-radius: 5px;
    width: 18rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}
.robert{
    display: flex;   
    gap: 0.7rem;
    padding-bottom: 1rem;
}
.robert img{
    height: 2rem;
}
.robert-name{
    color: #404040;
    font-size: 1rem;
    padding: 0.2rem;
}
.robert-role{
    color: #606060;
    font-size: 0.8rem;
}
.role-employee-icon{
    display: flex;
    gap: 0.7rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    color: #404040;
    align-items: center;
}
.role-employee-icon1{
    display: flex;
    gap: 0.7rem;
    padding: 0.3rem;
    font-size: 1rem;
    color: #404040;
    align-items: center;
    justify-content: flex-end;
}