<div class="navigation-panel">
  <div class="tezo-logo">
    <img src="assets\TezoLogo.svg" alt="Tezo_Logo" />
  </div>
  <div class="navigation-container">
    <div class="navigation-menu">
      <div class="navigation-header">
        <img src="assets\minus.png" alt="Hyphen Image" />
        <div>ALL</div>
      </div>
      <div class="navigation-items">
        <div class="navigation-subitem">
          <div class="navigation-subitem-content">
            <div class="red-black-icon">
              <img src="assets\Horizontal nav/Dashboard.svg" alt="Lock_icon" class="black-img" />
              <img src="assets\dashboard_red.svg" alt="Lock_icon" class="red-img" />
            </div>
            <div class="navigation-subitem-text">Dashboard</div>
          </div>
        </div>
        <a routerLink="/content-dashboard">
          <div class="navigation-subitem">
            <div class="navigation-subitem-content">
              <div class="red-black-icon">
                <img src="assets\employees_black.svg" alt="Lock_icon" class="black-img" />
                <img src="assets\Horizontal nav/Employees.svg" alt="Lock_icon" class="red-img" />
              </div>
              <div class="navigation-subitem-text">Employees</div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="navigation-menu">
      <div class="navigation-header">
        <img src="assets\minus.png" alt="Hyphen Image" />
        <div>ROLE / USER MANAGEMENT</div>
      </div>
      <div class="navigation-items">
        <div class="navigation-subitem">
          <div class="navigation-subitem-content">
            <div class="red-black-icon">
              <img src="assets\Horizontal nav/Roles.svg" alt="Lock_icon" class="black-img" />
              <img src="assets\roles_red.svg" alt="Lock_icon" class="red-img" />
            </div>
            <div class="navigation-subitem-text">Roles</div>
          </div>
          <div class="arrow-icon">
            <img src="assets\next.png" alt="DropdownIcon" class="arrow-black-img" />
            <img src="assets\rightarrow.png" alt="DropdownIcon" class="arrow-red-img" />
          </div>
        </div>
        <div class="navigation-subitem">
          <div class="navigation-subitem-content">
            <div class="red-black-icon">
              <img src="assets\Horizontal nav/assign user.svg" alt="Lock_icon" class="black-img" />
              <img src="assets\assignuser_red.svg" alt="Lock_icon" class="red-img" />
            </div>
            <div class="navigation-subitem-text">Assign User Roles</div>
          </div>
          <div class="arrow-icon">
            <img src="assets\next.png" alt="DropdownIcon" class="arrow-black-img" />
            <img src="assets\rightarrow.png" alt="DropdownIcon" class="arrow-red-img" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation-prompt">
    <div class="navigation-prompt-header">Install new update 2.3.1A</div>
    <div class="navigation-prompt-content">Allow to launch the new update for the AD application</div>
    <div class="navigation-prompt-buttons">
      <button type="button">Dismiss</button>
      <button type="button">Accept</button>
    </div>
  </div>
</div>