<header>
    <div class="search-bar">
        <img src="assets\bx-search.png" alt="Search_icon" />
        <input type="text" placeholder="Search(Ctrl+l)"/>
    </div>
    <div class="search-icons">
        <div id="search-icons-group">
            <span><img src="assets\Vertical Navbar/Language.svg" alt="Language" /></span>
            <span><img src="assets\Vertical Navbar/Categories.svg" alt="Categories_icon" /></span>
            <span><img src="assets\Vertical Navbar/Mode.svg" alt="Mode_icon" /></span>
            <span><img src="assets\Vertical Navbar/Notifications.svg" alt="Notification_icon" /></span>
        </div>
        <div class="person-profile">
            <img src="assets\emp1.png" alt="ProfileImage" />
            <div class="person-details">
                <span>Jhon Abraham</span><br>
                <select name="Profile" class="select-menu" title="John Profile">
                    <option value="Admin">Admin</option>
                    <option value="Accounts">Accounts</option>
                    <option value="Settings">Settings</option>
                    <option value="Help">Help</option>
                </select>
            </div>
        </div>
    </div>
</header>